---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;





/* #################Change################### */
img {
    opacity: 0.7;
    color: #2c3e50;
  }

img:hover {
    opacity: 1.0;
  }


  
  .button
  {
    position: relative;
    text-align: center;
    width: 10px;
    padding: 12px;
    font-size: 12px;
    color: #f1f5f5;
    font-family: sans-serif;
    font-weight: 800;
    border: 2px solid #0c4644;
    letter-spacing: 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
  
  }
  
  .button:hover
  {
    box-shadow: 0 5px 50px 0 #e4ece9 inset, 0 5px 50px 0 #000000,
                0 5px 50px 0 #0f0f0f inset, 0 5px 50px 0 #070707;
    text-shadow: 0 0 5px #c3f0ee, 0 0 5px #d4e9e8;            
  }

/* ################################################################## */


