---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="post-content">
          {{ post.content }}
        </div>

        <a href="{{ post.url | prepend: site.baseurl | append: "#disqus_thread" }}">Comments</a>
      </li>
    {% endfor %}
  </ul>
  <!--- Pagination links -->
  <div class="pagination">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="older-posts">&larr; Older posts</a>
    {% endif %}
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="newer-posts">Newer posts &rarr;</a>
    {% endif %}
  </div>
</div>

<script id="dsq-count-scr" src="//kindasortainsightful.disqus.com/count.js" async></script>
