---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <!--- Post links -->
  <!--- Add a bit of padding to prev link for spacing -->
  <div class="post-nav">
    {% if page.previous %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="older-posts">&larr; {{ page.previous.title }}</a>&nbsp;&nbsp;&nbsp;
    {% endif %}
    {% if page.next %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="newer-posts">{{ page.next.title }} &rarr;</a>
    {% endif %}
  </div>

  <!-- Disqus comments -->
  {% include comments.html %}
</div>
